<div class="p-4 sm:ml-64 bg-gray-50 min-h-screen">
    <div class="p-4 mt-16">
        <div class="relative overflow-x-auto sm:rounded-lg bg-white border border-gray-200 rounded-lg shadow p-6">
            <h4 class="text-2xl font-bold dark:text-white">Customers</h4>
              
            <div class="flex justify-start pt-6">
              <form class="max-w-xl flex space-x-4">
                  <div class="relative">
                      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                          </svg>
                      </div>
                      <input type="search" id="default-search" class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search "  />
                  </div>
              </form>
            </div>
            <div class="my-6">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 mb-4">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-center"> Image </th>
                            <th scope="col" class="px-6 py-3 text-center"> Customer Name </th>
                            <th scope="col" class="px-6 py-3 text-center"> Phone </th>
                            <th scope="col" class="px-6 py-3 text-center"> Status </th>
                            <th scope="col" class="px-6 py-3 text-center"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                                <div class="flex justify-center items-center">
                                    <img class="w-8 h-8 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
                                </div>
                            </td>
                            <td class="px-6 py-4 text-center"> Jhon Doe </td>
                            <td class="px-6 py-4 text-center"> 4567189981 </td>
                            <td class="px-6 py-4 text-center"> Active </td>
                            <td class="px-6 py-4 text-right">
                                <div class="flex justify-center items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 cursor-pointer" (click)="openModal()">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                                    </svg>
                                </div>
                            </td>
                            
                        </tr>
                        
                    </tbody>
                </table>
                <app-pagination></app-pagination>

            </div>
        </div>
    </div>
</div>

<div
  *ngIf="isModalOpen"
  class="fixed inset-0 z-50 flex items-center justify-center w-full h-full bg-black bg-opacity-50"
>
  <div class="relative w-full" style="max-width: 800px; padding: 1rem;">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 border-b rounded-t dark:border-gray-600">
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Detail Customer
        </h3>
        <button
          type="button"
          class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          (click)="closeModal()"
        >
          <svg
            class="w-3 h-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="p-4">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <div class="col-span-2 grid gap-4 grid-cols-4">
            <div class="col-span-1 flex items-center justify-center">
              <img class="w-24 h-24 rounded-full" src="https://flowbite.com/docs/images/people/profile-picture-5.jpg" alt="user photo">
            </div>
            <div class="col-span-3 grid gap-4 grid-cols-1">
              <div class="grid grid-cols-2">
                <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>Customer Name:</strong></p>
                <p class="text-sm text-gray-900 dark:text-white">Jhon Doe</p>
              </div>
              <div class="grid grid-cols-2">
                <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>Phone:</strong></p>
                <p class="text-sm text-gray-900 dark:text-white">90890128391</p>
              </div>
              <div class="grid grid-cols-2">
                <p class="text-sm font-medium text-gray-900 dark:text-white"><strong>Status:</strong></p>
                <p class="text-sm text-gray-900 dark:text-white">Active</p>
              </div>
            </div>
          </div>
        </div>
        
        <!-- List Cars -->
        <div class="my-6">
            <p class="text-base text-gray-900 dark:text-white"><strong>List Car</strong></p>

            <div class="relative w-full overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-center"> Image </th>
                      <th scope="col" class="px-6 py-3 text-center"> Name </th>
                      <th scope="col" class="px-6 py-3 text-center"> Plat Number </th>
                      <th scope="col" class="px-6 py-3 text-center"> Year </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white text-center">
                        <div class="flex justify-center items-center">
                          <img class="max-w-full max-h-40 object-contain" src="../../../assets/img/car1.jpg" alt="user photo">
                        </div>
                      </td>
                      <td class="px-6 py-4 text-center"> Brio </td>
                      <td class="px-6 py-4 text-center"> D 1234 SAE </td>
                      <td class="px-6 py-4 text-center"> 2021 </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
        </div>

        <!-- List Address -->
        <div class="my-6">
            <p class="text-base text-gray-900 dark:text-white"><strong>List Address</strong></p>

            <div class="relative w-full overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                  <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                      <th scope="col" class="px-6 py-3 text-center"> Title </th>
                      <th scope="col" class="px-6 py-3 text-center"> Address </th>
                      <th scope="col" class="px-6 py-3 text-center"> Description </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                      <td class="px-6 py-4 text-center"> Rumah Ibu</td>
                      <td class="px-6 py-4 text-center"> <a href="https://maps.app.goo.gl/k1jYd5w9ShKKbfPJA?g_st=ac"> Gg. H. Abdurahman II No.23, Campaka, Kec. Andir, Kota Bandung, Jawa Barat 40184</a>  </td>
                      <td class="px-6 py-4 text-center"> Rumah cat hijau </td>
                    </tr>
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <td class="px-6 py-4 text-center"> Kantor </td>
                        <td class="px-6 py-4 text-center"> <a href="https://maps.app.goo.gl/5BpFpCNhUK6ZU3EG7"> Jl. Soekarno Hatta No.104, Babakan Ciparay, Kec. Babakan Ciparay, Kota Bandung, Jawa Barat 40223</a>  </td>
                        <td class="px-6 py-4 text-center"> Di parkiran saja </td>
                      </tr>
                  </tbody>
                </table>
              </div>
              
        </div>
      </div>
      
    </div>
  </div>
</div>
